html, body {
    min-height: 100%;
}

p, h1, h2, h3, h4, h5 {
    margin: 8px 0 ;
    padding: 0;
}

p { margin: 4px 0; }

.header {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.06);
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

#loading {
    height: 300px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

#loading, #afterLoaded {
    transition: opacity .2s ease-in-out;
    opacity: 1;
}

.stats {
    display: flex;
    width: 100%;
    padding: 0 16px 8px;
}
.stats > div {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}
.stats h2,
.stats p {
    text-align: center;
    padding: 0;
    width: auto;
}

.stats h2, .stats .type--small{
    color: rgba(0,0,0,.8);
}

.type.type--xxlarge {
    font-size: 24px;
}

div, .layer-info li {
    transition: all .2s ease-in-out;
}
div {
    opacity: 1;
}
.hidden {
    opacity: 0 !important;
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
}

.layer-info {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}
.layer-info li {
    display: block;
    background-color: rgba(218,235,247,0);
    margin: 0;
    padding: 8px 4px 8px var(--size-small);
    border: 1px solid rgba(255,255,255,0);
}


#pages section {
    padding: 4px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.06);
    border-top: 1px solid rgba(0,0,0,.06);
}

#pages section span {
    white-space: nowrap;
    color: rgba(0,0,0,.8);
    font-size: 12px;
}

#pages section h2 {
    width: 100%;
}

.disclosure .disclosure__content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    pointer-events: auto;
    padding: 0;
}

.disclosure .disclosure__label{
    border: 1px solid rgba(255,255,255,0);
}

.disclosure .disclosure__label:hover,
.layer-info li:hover {
    border: 1px solid #18A0Fb;
}
.disclosure .disclosure__label:active,
.disclosure .disclosure__label:focus,
.layer-info li:active,
.layer-info li:focus {
    background: rgba(218,235,247,1);
    border: 1px solid rgba(255,255,255,0);
}