div, .layer-info li {
    transition: all .2s ease-in-out;
}
div{
    opacity:1;
}
.hidden {
    opacity:0;
    height:0;
    width:0;
    overflow:hidden;
}

.layer-info{
    margin:0;
    padding:0;
    list-style-type:none;
    display:block;
}
.layer-info li{
    display:block;
    border-bottom: 1px solid rgba(0,0,0.2);
    background-color: rgba(0,0,0,0);
    margin:0;
    padding: 8px 4px;
}
.layer-info li:hover {
    background-color: rgba(0,0,0,.09);
    cursor: pointer;
}
.layer-info li:active {
    background-color: rgba(0,0,0,.12);
}